.modal {
    position: fixed;
    display: none;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 500px;
    height: 605px;

    display: none;
    justify-content: center;
    align-items: center;

}

#profileModal {
    position: fixed;
    display: none;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 500px;
    height: 650px;

    display: none;
    justify-content: center;
    align-items: center;
}

#profileCreateModal {
    position: fixed;
    display: none;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 500px;
    height: 650px;

    display: none;
    justify-content: center;
    align-items: center;
}

.modal-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    /* ✅ 원형으로 만들기 */

    object-fit: cover;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    /* 중앙 정렬 */
}

/* input-group-text의 고정 너비 설정 */
.input-group-text {
    min-width: 80px;
    padding: 15px;

    /* 아현 수정정 */
    background-color: #eecb86 !important;
    color: black;
    text-align: center;
    display: flex;
    /* Flexbox로 요소를 정렬 */
    align-items: center;
    /* 수직 가운데 정렬 */
    justify-content: center;
    /* 수평 가운데 정렬 */
}



/* 아현 수정 */
.modal-content {
    background-color: #fefaef !important;
    border-radius: 10px !important;
    border-color: transparent;
}

.modal_addBtn:hover {
    background-color: #f26d10 !important;
    color: beige !important;
}

.close-btn {
    border-radius: 10px !important;
}

.btn-outline-warning {
    border-radius: 10px !important;
}


.close-btn {
    background-color: #6f8b4f;
    color: ivory;
    border-color: transparent;

    margin-bottom: 10px;
}

.upload-btn {
    background-color: #6f8b4f;
    color: ivory;
    border-color: transparent;
    border-radius: 10px;

    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.close-btn:hover {
    background-color: #8eb166;
}

.upload-btn:hover {
    background-color: #8eb166;
}

.modal-content>h3 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}